body{
           background-color: #FFFFFF;
       }
  
       img{
  	       margin:0 auto;
       }

       form{
	         margin:0 auto;
	         width: 400px;
           	background-color: #FFFFFF;
	         padding: 1em;
	         border: 3px solid #32CD32;
	         border-radius: 1em;
       }

       form div + div{
	         margin-top: 1em;
       }
       
       input, textarea{
	         font: 1em sans-serif;
           	width: 200px;
	         -moz-box-sizing: border-box;
	         border: 1px solid #999;
       }

       input:focus, texarea:focus{
	         border-color: #000;
       }
 
       textarea{
	         vertical-align: top,center;
	         height: 5em;
	         resize: vertical;
       }

       #btn_consulta{
        padding-left: 0px;
       }

       #btn_buscar{
        padding-left: 0px;
       }

       button{
	         margin-left: .5em;
       }